---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Dashboard" description="Dashboard">
  <h1>Welcome to Dashboard 🎉</h1>
  <a href="/api/logout">Logout</a>
</MainLayout>
