---
// src/layouts/AdminLayout.astro
import { cn } from "@/lib/utils";
import BaseHead from "../components/BaseHead.astro";
import { AdminNavbar } from "../components/admin/AdminNavbar";
import { Toaster } from "../components/ui/sonner";
import "../styles/global.css";

// KODE PROTEKSI DIHAPUS AGAR BISA LANGSUNG TERBUKA

interface Props {
  title: string;
  description: string;
  className?: string;
}

const { title, description, className } = Astro.props;
---

<!doctype html>
<html lang="en" class="mona">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-slate-50 text-slate-900 antialiased"> 
    <div class="flex min-h-screen flex-col">
      <AdminNavbar client:load /> 
      <main class="flex-1">
        <div class={cn(className ? className : "max-w-7xl mx-auto px-4 md:px-8 py-10")}>
          <slot />
        </div>
      </main>
    </div>
    <Toaster client:load />
  </body>
</html>