---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { Toaster } from "../components/ui/sonner";
import { cn } from "@/lib/utils";
import "../styles/global.css";

const { title, description, className } = Astro.props;
---
<!doctype html>
<html lang="en" class="mona">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <div class="flex min-h-screen flex-col bg-teahouse-bg text-white">
      <Header />
      <main class="flex-1">
        <div class={cn(className ? className : "container p-4 md:p-6 mx-auto")}>
          <slot />
        </div>
      </main>
      <Footer />
    </div>
    <Toaster client:load />
  </body>
</html>