---
import AdminLayout from "@/layouts/AdminLayout.astro";
import { DestinationTable } from "@/components/admin/DestinationTable";
// Pastikan menggunakan 'import type' untuk interface
// import type { Destination } from "@/types/destination.ts"; 
import sql from "@/lib/db";

interface Destination {
  id: number;
  dtw: string;
  lokasi: string;
  tags: string;
  url_foto: string;
  rating: number;
}


const destinations = await sql<Destination[]>`
  SELECT id, dtw, lokasi, tags, url_foto, rating FROM lokasi_wisata
`;
---

<AdminLayout title="Destination Overview" description="Manage Bandung's best kept secrets">
  <main class="max-w-7xl mx-auto px-4 md:px-8 py-10">
    <header class="flex justify-between items-center mb-10">
      <div>
        <h1 class="text-3xl font-bold">Destination Overview</h1>
        <p class="text-slate-500">Manage Bandung's best kept secrets.</p>
      </div>

      <a href="/admin/destination/add" class="bg-emerald-500 text-white px-6 py-3 rounded-2xl font-bold">
        + Add New Destination
      </a>
    </header>

    <DestinationTable data={destinations} client:load />
  </main>
</AdminLayout>
